matplotlib>=3.2.2
numpy>=1.18.5
opencv-python-headless
Pillow
psutil
PyYAML>=5.3.1
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.41.0
tensorboard>=2.4.1
seaborn>=0.11.0
pandas
thop  
boto3==1.24.89
botocore==1.27.89
gradio==3.4.1
pandas==1.5.0
Pillow==9.2.0
torch==1.12.1
IPython==4.1.2
